@font-face {
    font-family:Bold ;
    src: url(Font/OpenSans-Bold.ttf);
}
@font-face {
    font-family: Regular;
    src: url(Font/OpenSans-Regular.ttf);
}
@font-face {
    font-family: semiBold;
    src: url(Font/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: poppinsBold;
    src: url(Font/Poppins-Bold.ttf);
}
@font-face {
    font-family: poopins-semiBold;
    src: url(Font/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(Font/Roboto-Bold.ttf);
}
@font-face {
    font-family: roboto-medium;
    src: url(Font/Roboto-Medium.ttf);
}
@font-face {
    font-family: roboto-regular;
    src: url(Font/Roboto-Regular.ttf);

}
@font-face {
    font-family: roboto-semibold;
    src: url(Font/RobotoMono-SemiBold.ttf);
}


/* header */

.contato{
    background-color: #106EEA;
    width: 1460px;
    height: 50px;
    font-family: Regular;
    color: white;
     display: flex;
     
}
.contat{
  margin-left: 160px;
}

.titulo{
    font-family:poppinsBold ;
    margin-left: 250px;
    font-size: 40px;
}
.cabecalho{
    display: flex;
    margin-left: 570px;
    margin-top: -70px;
    justify-content: center;
   
}

.um, .dois, .tres, .quatro, .cinco{
    margin: 20px;
   font-family: Regular;
}


.imagem-cacalho{
    width: 206vh;
    height: 60vh;
}




/* começo do main */
/* sobre nós */


span{/* titulo */
    color: #106EEA;
}

.sobre-nos{
    font-family: roboto-bold;
    display: flex;
  margin-top: 30vh;
}

.imagem-equipe{
    height: 70vh;
    margin: 0 20vh;
}

.text{
    margin-left: 30vh;
    line-height: 32.68px;
    font-family: Regular;
}

.titulo-sobreNos{
    text-align: center;
}

/* ARRUMANDO OS ICONES */

.icone{
     
    border: 1px solid #88acda;
    width: 254px;
    height: 244px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-block;
    margin: 5vh;
    background-color: #8ca9ce60;
    border-radius: 9px;
    font-family: Roboto;
}

.fa-solid, .fa-regular{
    font-size: 3vw;
    margin-top: 3vw;
  
}

.icones{
    margin-left: 10vh;
}

/* NOSSO SERVIÇO */

.nossoServico{
align-items: center;
text-align: center;
justify-content: center;
font-family: Roboto-bold;
margin-top: 20vh;
}

